<h2>Página tres</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi doloribus, rem aut maxime ipsum similique laboriosam veniam sint perspiciatis ratione enim excepturi. Placeat nisi, doloremque sint odit repellat optio reiciendis.</p>
<%= link_to 'Volver a página 1', root_path %>
<%= link_to 'Ir a página 2', pages_two_path %>
